/* -- DEFAULT SETTINGS START -- */
* {
    font-family: questrial;
}

*:focus {
    outline: 0;
}

html,
body {
    margin: 0;
}

body {
    background-color: #e8e8e8;
}

body.menuopen {
    overflow: hidden;
}

.section-1 {
    width: 8.33333%;
    display: flex;
    position: relative;
}

.section-2 {
    width: 16.66666%;
    display: flex;
    position: relative;
}

.section-3 {
    width: 25%;
    display: flex;
    position: relative;
}

.section-4 {
    width: 33.33333%;
    display: flex;
    position: relative;
}

.section-5 {
    width: 41.66666%;
    display: flex;
    position: relative;
}

.section-6 {
    width: 50%;
    display: flex;
    position: relative;
}

.section-7 {
    width: 58.33333%;
    display: flex;
    position: relative;
}

.section-8 {
    width: 66.66666%;
    display: flex;
    position: relative;
}

.section-9 {
    width: 75%;
    display: flex;
    position: relative;
}

.section-10 {
    width: 83.33333%;
    display: flex;
    position: relative;
}

.section-11 {
    width: 91.66666%;
    display: flex;
    position: relative;
}

.section-12 {
    width: 100%;
    display: flex;
    position: relative;
}

.section-20 {
    width: 20%;
    display: flex;
    position: relative;
}

.height-100 {
    min-height: calc(100vh - 60px);
}

.height-50 {
    min-height: calc(50vh - 30px);
}

.height-33 {
    min-height: calc(33vh - 20px);
}

.height-25 {
    min-height: 25vh;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.nostretch {
    align-items: flex-start;
}

.ofh {
    overflow: hidden;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #1e7cff;
}

.visible {
    display: flex !important;
}

.button {
    width: 280px;
    max-width: 95%;
    height: 60px;
    border: 3px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease;
    cursor: pointer;
}

.button.green {
    background-color: #0adc6e;
    color: white;
    border: 0px solid;
}

.button.green:hover {
    background-color: #0ab95d;
    color: #ffffff;
}

.button.greentrans {
    background-color: transparent;
    color: #0adc6e;
    border-color: #0adc6e;
}

.button.greentrans:hover {
    background-color: #0adc6e;
    color: white;
}

.button.greentrans:focus {}

i.icon {
    width: 50px;
    height: 50px;
    background-color: #FFEA00;
    color: black;
    border-radius: 50%;

}

i.icon:before {
    line-height: 50px;
    font-size: 30px;
}

.center {
    justify-content: center !important;
    align-items: center;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #080808;
}

.msgbox.error {
    background-color: red;
    color: white;
}

.msgbox.success {
    background-color: #0adc6e;
    color: white;
}

/* -- DEFAULT SETTINGS END -- */
.main {
    margin-top: 60px;
}

header {
    width: calc(100% - 70px);
    padding: 0 35px;
    height: 60px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    justify-content: space-between;
    display: flex;
}

header .hlogo {
    
}

nav.menu {}

nav.menu > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    height: 60px;
}

nav.menu > ul > li {
    position: relative;
}

nav.menu ul li a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 12px;
    transition: .2s ease-in-out;
}
nav.menu ul li a i {
    margin: 0 5px;
}
nav.menu > ul > li > a:hover {background-color: #1e7cff;color: white;}
nav.menu ul li > .submenu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    background-color: white;
    position: absolute;
    min-width: 152px;
    border: 1px solid #b4b4b4;
    border-top: 0;
}
nav.menu ul li > .submenu > li > a {
}
nav.menu ul li > .submenu > li > a:hover {
    background-color: #1e7cff;
    color: white;
}
nav.menu > ul > li.hassubmenu > a:hover {
    border-bottom: 0;
}
nav.menu > ul > li.hassubmenu:hover > .submenu {
    display: block;
}
nav.menu ul li:hover > ul {

}
