nav {
    width: 100%;
}
nav .menu {
    display: inline-flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav .menu li {
    display: flex;
    height: 100%;
}

nav .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    transition: .3s all ease;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav .menu li a:hover {
    color: rgb(255, 255, 255);
}